<!DOCTYPE html>
<html lang="en">
  <%- include ./header %>
  <body>
    <%- include ./menu %>
    <div
      class="jumbotron card card-image"
      style="
        background-image: url(https://github.com/IyanE02/Markdown-Image-Base/blob/master/notion%20icon/4_1%20%EA%B3%84%EB%AA%BD.png?raw=true);
      "
    >
      <div class="text-white text-center py-5 px-4">
        <div>
          <h2 class="card-title h1-responsive pt-3 mb-5 font-bold">
            <strong>쏜애플과 함께하는 물의 기억 콘서트</strong>
          </h2>
          <p class="mx-5 mb-5">
            미안하다 이거 보여주려고 어그로끌었다.. 쏜애플 노래수준 ㄹㅇ실화냐?
            진짜 세계관최강자들의 노래다.. 그찐따같던 쏜애플이 맞나? 진짜
            쏜애플은 전설이다..진짜옛날에 맨날쏜애플봘는데 왕같은존재인 윤성현
            되서 세계최강 전설적인 영웅이된윤성현보면 진짜내가다 감격스럽고
            쏜애플 노래부터 명장면까지 가슴울리는장면들이 뇌리에 스치면서 가슴이
            웅장해진다..
          </p>
          <a class="btn btn-outline-white btn-md"
            ><i class="fas fa-clone left"></i> View project</a
          >
        </div>
      </div>
    </div>
    <%- include ./footer %>
  </body>
</html>
